/*
RESET
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
}

/*
GENERAL
*/
.container {
    height: calc(100vh - 100px);
    display: flex;
}
aside {
    width: 200px;
    background-color: black;
    color: white;
}
main {
    width: calc(100% - 20px);
    height: 100%;
    color: white;
    
}
img {
    width: 100%;
}
 aside ul {
    margin-top: 5px;
}

 aside ul > * {
    margin: 15px 0;
}
aside h3 {
    margin: 10px 0;
}
aside h5 {
    margin-top: 750px;
}

/*
HEADER/MAIN
*/
main  h3 {
    
    padding: 30px 0;

}

/*
MAIN
*/
.color-blue {
    height: 80px;
    width: calc(100% - 200px);
    position: fixed;
    background-color: #080B12;
    text-align: right;
}

.color-grey {
    background-color:#141922;
      padding-top: 80px;
    height: 100%;
    overflow: auto;
  
}

.color-grey ul  {
    display: flex;
    justify-content:center;
    
    
}

.color-grey ul li {
    margin: 5px 10px;
}
.card-container {
    width: calc(100% - 200px);
    display: flex;
    
}
.card {
    width: calc(100% / 6);
    margin: 20px 5px;

}
.rotonde img {
    border-radius:50%;
}



/*
FOOTER
*/
footer {
    display: flex;
    height: 100px;
    width: 100%;
    background-color: #282828;
    color: white;
}
footer .elemento {
    width: calc(100% / 3);
    display: flex;
    
}
footer .elemento img {
    height: 75px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}





/*
MEDIA QUERY
*/


@media screen and (min-width:110px) {

}

@media screen and (min-width:600px) {
    
}
@media screen and (min-width:700px) {
    
}
    
@media screen and (min-width:1100px) {
    
}











